@model ShopFrontend.Models.ShoppingCart_IndexViewmodel
@using System.Globalization;
@{
    ViewBag.Title = "ShoppingCart";
}
@{
    string VND(double value)
    {
        if (value == 0)
        {
            return "0 đ";
        }
        CultureInfo cul = CultureInfo.GetCultureInfo("vi-VN");   // try with "en-US"
        return value.ToString("#,### đ", cul.NumberFormat);
    }
}
<div class="container-fluid">
    <h3>Giỏ hàng </h3>
    <div class="row">
        <div class="col-md-8 col-sm-12">
            <table class="table">
                <thead class="thead-dark">
                    <tr>
                        <th scope="col">#</th>
                        <th scope="col">Tên sản phẩm</th>
                        <th scope="col">Đơn giá</th>
                        <th scope="col">Số lượng</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var product in Model.List)
                    {
                        <tr>
                            <td>
                                <a href="@Url.Action("Delete", new { product_id = product.product_id })">
                                    <div type="button" class="btn btn-default btn-sm">
                                        <i class="fas fa-eraser" title="Xoá sản phẩm"></i>
                                    </div>
                                </a>
                            </td>
                            <th scope="row">@product.product_name</th>
                            <td>@VND((double)product.product_price)</td>
                            <td>@product.quantity</td>
                        </tr>
                    }

                </tbody>
            </table>


        </div>
        <div class="col-md-4 col-sm-12">
            <table class="table">
                <thead class="thead-light">
                    <tr>
                        <th scope="col">
                            Thông tin đơn hàng
                        </th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <th scope="row">
                            Tạm tính <span class="fa-pull-right">@VND((double)Model.total)</span>
                        </th>
                    </tr>
                    <tr>
                        <th scope="row">Phí giao hàng <span class="fa-pull-right">@VND((double)0)</span></th>
                    </tr>
                    <tr>
                        <th scope="row">Tổng cộng <span class="fa-pull-right">@VND((double)Model.total)</span></th>
                    </tr>

                    <!--  Địa chỉ khách hàng  -->
                    @if (Model.customer_address != null)
                    {
                        <tr class="thead-light">
                            <th scope="row">Địa chỉ giao hàng</th>
                        </tr>
                        <tr>
                            <th scope="row">@Model.customer_address.address_1 , @Model.customer_address.city , @Model.customer_address.country_id</th>
                        </tr>
                    }

                    <!-- Điều khiển -->
                    <tr>
                        <th scope="row">
                            <div class="row">
                                <a href="#" class="col-xl-6 col-md-12 col-sm-12 col-12 mb-2">
                                    <div class="col-12 btn btn-default btn-outline-primary btn-wrap-text" title="Xác nhận đơn hàng" style="font-size : 0.85rem">
                                        <i class="fa fa-money-bill"></i>
                                        Xác nhận đơn hàng
                                    </div>
                                </a>
                                <a href="@Url.Action("Index","Home")" class="col-xl-6 col-md-12 col-sm-12 col-12 mb-2">
                                    <div class="col-12 btn btn-default btn-outline-success btn-wrap-text" title="Quay lại gian hàng" style="font-size : 0.85rem">
                                        <i class="fa fa-fast-backward"></i>
                                        Quay lại gian hàng
                                    </div>
                                </a>
                            </div>
                        </th>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
