<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    @RenderSection("meta", required: false)
    <title>@ViewBag.Title</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="~/Content/all.min.css" />
    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <link rel="stylesheet" href="~/Content/Site.min.css" />
    @*@Styles.Render("~/Content/css")*@
    @*@Scripts.Render("~/bundles/modernizr")*@
</head>
<body>
    <div class="container-fluid" id="app" style="margin-bottom : 100px;">
        @*<div class="card top-menu">
                <div class="card-body">
                    <h5 class="card-title">Special title treatment</h5>
                    <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
                    <a href="#" class="btn btn-primary">Go somewhere</a>
                </div>
            </div>*@
        <nav class="navbar navbar-expand-lg navbar-light bg-light main-menu" style="padding-right : 0!important">
            <a class="navbar-brand" href="@Url.Action("Index","Home")">
                <img src="~/Images/logo.png" class="logo" />
                <span class="alert-info"> Việt Cường Shop </span>
            </a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse justify-content-end" id="navbarSupportedContent">
                <ul class="nav navbar-nav navbar-right mr-0">

                    @if (!User.Identity.IsAuthenticated)
                    {
                        <li class="nav-item active">
                            <a class="nav-link" href="@Url.Action("Login","Customer")">Đăng nhập</a>
                        </li>
                        <li class="nav-item active">
                            <a class="nav-link" href="@Url.Action("Register","Customer")">|  Đăng ký </a>
                        </li>
                    }
                    <li class="nav-item active">
                        <a class="nav-link" href="@Url.Action("Index","ShoppingCart")">
                            <i class="fa fa-shopping-cart" style="font-size : 20px"></i> <span>Giỏ hàng</span>
                        </a>
                    </li>
                    @if (User.Identity.IsAuthenticated)
                    {
                        <li class="nav-item active">
                            <a class="nav-link" href="@Url.Action("Profile","Customer", new { email = User.Identity.Name })">
                               <span>Tài khoản</span>
                            </a>
                        </li>
                        <li class="nav-item active">
                            <a class="nav-link" href="@Url.Action("Index","Order")">Đơn hàng</a>
                        </li>
                        <li class="nav-item active">
                            <a class="nav-link" href="@Url.Action("Logout","Customer")">Đăng xuất</a>
                        </li>
                    }
                </ul>
            </div>
        </nav>
        @RenderBody()
        
    </div>
    <div class="card top-menu footer">
        <div class="card-body text-center">
            <h5 class="card-title">Công ty THHH Công nghệ Việt Cường</h5>
            <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
        </div>
    </div>
    <script src="~/Scripts/all.min.js"></script>
    @*@Scripts.Render("~/bundles/jquery")
        @Scripts.Render("~/bundles/bootstrap")*@
    @RenderSection("scripts", required: false)
</body>
</html>
