@model ShopBackend.Models.Order_DetailsViewmodel
@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section content_header{
    <h1>
        Chi tiết đơn hàng
    </h1>

    <ol class="breadcrumb">

        <li><a href="/"><i class="fa fa-dashboard"></i> Danh mục</a></li>
        <li class="active">Đơn hàng</li>
    </ol>
}

@section content_main{
    <div class="row" style="margin-right:2px; margin-bottom : 10px;">
        <div class="pull-right">
            <a href="/Order/Print_Invoice/@Model.order_id" target="_blank" data-toggle="tooltip" title="" class="btn btn-info" data-original-title="Print Invoice"><i class="fa fa-print"></i></a>
            <a href="Order/Print_Shipping/@Model.order_id" target="_blank" data-toggle="tooltip" title="" class="btn btn-info" data-original-title="Print Shipping List"><i class="fa fa-truck"></i></a>
            <a href="@Url.Action("Index")">
                <div href="#" data-toggle="tooltip" title="" class="btn btn-default" data-original-title="Cancel">
                    <i class="fa fa-reply"></i>
                </div>
            </a>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title"><i class="fa fa-shopping-cart"></i> Chi tiết đơn hàng</h3>
                </div>
                <table class="table">
                    <tbody>
                        <tr>
                            <td style="width: 1%;"><button data-toggle="tooltip" title="" class="btn btn-info btn-xs" data-original-title="Store"><i class="fa fa-shopping-cart fa-fw"></i></button></td>
                            <td><a href="http://localhost/upload/" target="_blank">@Model.store_name</a></td>
                        </tr>
                        <tr>
                            <td><button data-toggle="tooltip" title="" class="btn btn-info btn-xs" data-original-title="Date Added"><i class="fa fa-calendar fa-fw"></i></button></td>
                            <td>@Model.date_added.ToString("dd/MM/yyyy")</td>
                        </tr>
                        <tr>
                            <td><button data-toggle="tooltip" title="" class="btn btn-info btn-xs" data-original-title="Payment Method"><i class="fa fa-credit-card fa-fw"></i></button></td>
                            <td>@Model.payment_method</td>
                        </tr>
                        <tr>
                            <td><button data-toggle="tooltip" title="" class="btn btn-info btn-xs" data-original-title="Shipping Method"><i class="fa fa-truck fa-fw"></i></button></td>
                            <td>@Model.shipping_method</td>
                        </tr>
                    </tbody>

                </table>
            </div>
        </div>
        <div class="col-md-6">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title"><i class="fa fa-user"></i> Thông tin khách hàng</h3>
                </div>
                <table class="table">
                    <tbody>
                        <tr>
                            <td style="width: 1%;"><button data-toggle="tooltip" title="" class="btn btn-info btn-xs" data-original-title="Customer"><i class="fa fa-user fa-fw"></i></button></td>
                            <td> <a href="http://localhost/upload/admin/index.php?route=customer/customer/edit&amp;user_token=z52kVmMSsFziiI9G3XEsgAwmzfmNXfqH&amp;customer_id=1" target="_blank">@Model.full_name</a> </td>
                        </tr>
                        <tr>
                            <td><button data-toggle="tooltip" title="" class="btn btn-info btn-xs" data-original-title="Customer Group"><i class="fa fa-group fa-fw"></i></button></td>
                            <td>Default</td>
                        </tr>
                        <tr>
                            <td><button data-toggle="tooltip" title="" class="btn btn-info btn-xs" data-original-title="E-Mail"><i class="fa fa-envelope-o fa-fw"></i></button></td>
                            <td><a href="mailto:developer.tranmanhcuong@gmail.com">@Model.email</a></td>
                        </tr>
                        <tr>
                            <td><button data-toggle="tooltip" title="" class="btn btn-info btn-xs" data-original-title="Telephone"><i class="fa fa-phone fa-fw"></i></button></td>
                            <td>@Model.telephone</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>

    </div>

    <div class="panel panel-default">
        <div class="panel-heading">
            <h3 class="panel-title"><i class="fa fa-info-circle"></i> Mã dơn hàng (#@Model.order_id)</h3>
        </div>
        <div class="panel-body">
            <table class="table table-bordered">
                <thead>
                    <tr>
                        <td style="width: 50%;" class="text-left">Địa chỉ thanh toán</td>
                        <td style="width: 50%;" class="text-left">Địa chỉ nhận hàng</td>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td class="text-left"> @Model.full_name <br /> @Model.payment_address1<br>@Model.payment_city<br>@Model.payment_country</td>
                        <td class="text-left"> @Model.full_name<br>@Model.shipping_address1<br>@Model.shipping_city<br>@Model.shipping_country</td>
                    </tr>
                </tbody>
            </table>
            <table class="table table-bordered">
                <thead>
                    <tr>
                        <td class="text-left">Tên sản phẩm</td>
                        <td class="text-left">Mẫu</td>
                        <td class="text-right">Số lượng</td>
                        <td class="text-right">Đơn giá</td>
                        <td class="text-right">Thành tiền</td>
                    </tr>
                </thead>
                <tbody>

                    @foreach (var order_product in Model.order_products)
                    {
                        <tr>
                            <td class="text-left"><a href="/Product/Edit/@order_product.product_id">@order_product.name</a> </td>
                            <td class="text-left">@order_product.model</td>
                            <td class="text-right">@order_product.quantity</td>
                            <td class="text-right">@Decimal.ToInt32(order_product.price) VNĐ</td>
                            <td class="text-right">@Decimal.ToInt32(order_product.quantity * order_product.price) VNĐ</td>
                        </tr>
                    }
                    <tr>
                        <td colspan="4" class="text-right">Tổng tiền hàng</td>
                        <td class="text-right">@Model.order_products_total VNĐ</td>
                    </tr>
                    <tr>
                        <td colspan="4" class="text-right">Phí vận chuyển</td>
                        <td class="text-right">@(Model.total - Model.order_products_total) VNĐ</td>
                    </tr>
                    <tr>
                        <td colspan="4" class="text-right">Tổng tiền phải trả</td>
                        <td class="text-right">@Model.total VNĐ</td>
                    </tr>
                </tbody>

            </table>
        </div>
    </div>

    <div class="panel panel-default">
        <div class="panel-heading">
            <h3 class="panel-title"><i class="fa fa-comment-o"></i> Order History</h3>
        </div>
        <div class="panel-body">
            <ul class="nav nav-tabs">
                <li class="active"><a href="#tab-history" data-toggle="tab">History</a></li>
            </ul>
            <div class="tab-content">
                <div class="tab-pane active" id="tab-history">
                    <div id="history">
                        <div class="table-responsive">
                            <table class="table table-bordered">
                                <thead>
                                    <tr>
                                        <td class="text-left">Ngày tạo</td>
                                        <td class="text-left">Ghi chú</td>
                                        <td class="text-left">Trạng thái</td>
                                        <td class="text-left">Thông báo cho khách</td>
                                    </tr>
                                </thead>
                                <tbody>
                                    @foreach (var order_history_record in Model.order_history_records)
                                    {
                                        <tr>
                                            <td class="text-left">@order_history_record.date_added.ToString("dd/MM/yyyy")</td>
                                            <td class="text-left">@order_history_record.comment</td>
                                            <td class="text-left">@order_history_record.status</td>
                                            <td class="text-left">@(order_history_record.customer_notified ? "Có" : "Không")</td>
                                        </tr>
                                    }
                                </tbody>
                            </table>
                        </div>
                    </div>
                    <br>
                    <fieldset>
                        <legend>Thêm lịch sử đơn hàng</legend>
                        <form class="form-horizontal" action="Order/Add_Order_History" method="post" id="Add_Order_History_Form">
                            <input type="hidden" name="order_id" value="@Model.order_id" />
                            <div class="form-group">
                                <label class="col-sm-2 control-label" for="input-order-status">Trạng thái đơn hàng</label>
                                <div class="col-sm-10">
                                    <select name="order_status_id" id="input-order-status" class="form-control">
                                        @foreach (var order_status in Model.order_statuses)
                                        {
                                            <option value="@order_status.order_status_id">@order_status.name</option>
                                        }
                                    </select>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-2 control-label" for="input-override">
                                    <span data-toggle="tooltip" title="" data-original-title="If the customers order is being blocked from changing the order status due to an anti-fraud extension enable override.">
                                        Ghi đè
                                    </span>
                                </label>
                                <div class="col-sm-10">
                                    <div class="checkbox">
                                        <input type="checkbox" name="override" value="1" id="input-override">
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-2 control-label" for="input-notify">Thông báo cho khách</label>
                                <div class="col-sm-10">
                                    <div class="checkbox">
                                        <input type="checkbox" name="notify" value="1" id="input-notify" checked>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-2 control-label" for="input-comment">Ghi chú</label>
                                <div class="col-sm-10">
                                    <textarea name="comment" rows="8" id="input-comment" class="form-control"></textarea>
                                </div>
                            </div>
                        </form>
                    </fieldset>
                    <div class="text-right">
                        <button id="button-history" data-loading-text="Loading..." class="btn btn-primary" type="submit" form="Add_Order_History_Form"><i class="fa fa-plus-circle"></i> Thêm</button>
                    </div>
                </div>

            </div>
        </div>
    </div>
}

