@using ShopBackend.Models;
@using Gobln.Pager;
@model Page<Order_IndexViewmodel>
@{
    ViewBag.Title = "Danh sách đơn hàng";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section content_header{
    <h1>
        Danh mục đơn hàng
        <small>Danh sách tất cả đơn hàng hiện có</small>
    </h1>
    <ol class="breadcrumb">
        <li><a href="/"><i class="fa fa-dashboard"></i> Danh mục</a></li>
        <li class="active">Đơn hàng</li>
    </ol>
}

@section content_main{
    <div class="panel panel-default">

        <div class="panel-body">
            <form method="post" action="" enctype="multipart/form-data" id="form-order">
                <div class="">
                    <table class="table table-bordered table-hover" style="overflow:visible">
                        <thead>
                            <tr>
                                <td style="width: 1px;" class="text-center"><input type="checkbox" onclick="$('input[name*=\'selected\']').prop('checked', this.checked);"></td>
                                <td class="text-left"> Mã đơn hàng </td>
                                <td class="text-left"> Khách hàng </td>
                                <td class="text-left"> Trạng thái </td>
                                <td class="text-left">Thành tiền </td>
                                <td class="text-left"> Ngày tạo </td>
                                <td class="text-left"> Ngày sửa </td>
                                <td class="text-right"> Hành động</td>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var order in Model)
                            {
                                <tr class="_order_index_tr">
                                    <td class="text-center">
                                        <input type="checkbox" name="selected[]" value="1">
                                        <input type="hidden" name="shipping_code[]" value="flat.flat">
                                    </td>
                                    <td class="text-right">@order.order_id</td>
                                    <td class="text-left">@order.customer_fullname</td>
                                    <td class="text-left">@order.order_status</td>
                                    <td class="text-right">@order.total VNĐ</td>
                                    <td class="text-left">@order.date_added</td>
                                    <td class="text-left">@order.date_modified</td>
                                    <td class="text-right" style="text-align : right !important">
                                        <div style="min-width: 30px;">
                                            <div class="btn-group">
                                                <a href="/Order/Details/@order.order_id" data-toggle="tooltip" title="" class="btn btn-primary" data-original-title="View">
                                                    <i class="fa fa-eye"></i>
                                                </a>
                                                <button type="button" data-toggle="dropdown" class="btn btn-primary dropdown-toggle">
                                                    <span class="caret">
                                                    </span>
                                                </button>
                                                <ul class="dropdown-menu dropdown-menu-right">
                                                    <li>
                                                        <a href="/Order/Edit/@order.order_id">
                                                            <i class="fa fa-pencil"></i> Sửa
                                                        </a>
                                                    </li>
                                                    <li>
                                                        <a href="/Order/Delete/@order.order_id">
                                                            <i class="fa fa-trash-o"></i> Xoá
                                                        </a>
                                                    </li>
                                                </ul>
                                            </div>
                                        </div>
                                    </td>
                                </tr>
                            }
                        </tbody>

                    </table>
                </div>
            </form>
            <div class="box-footer clearfix">
                <ul class="pagination col-ms-9 pull-right">
                    @Html.Partial("~/Views/Components/Pagination.cshtml", new Components_PaginationViewmodel()
                    {
                        href = "Order/?page=",
                        total_page_count = Model.TotalPageCount,
                        current_page_index = Model.CurrentPageIndex,
                        number_of_displaying_pages = 4
                    })
                </ul>
            </div>
        </div>
    </div>
}

@section scripts{

}