@model ShopBackend.Models.Order_PrintShippingViewmodel
@{
    ViewBag.Title = "Phiếu chuyển hàng";
    Layout = null;
}

<!DOCTYPE html>
<html dir="ltr" lang="en">
<head>
    <meta charset="UTF-8" />
    <title>Phiếu chuyển hàng</title>
    <link href="/bower_components/bootstrap/dist/css/bootstrap.css" rel="stylesheet" media="all" />
    <script type="text/javascript" src="/bower_components/jquery/dist/jquery.min.js"></script>
    <script type="text/javascript" src="/bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
    <link href="/bower_components/font-awesome/css/font-awesome.min.css" type="text/css" rel="stylesheet" />
</head>
<body>
    <div class="container">
        <div style="page-break-after: always;">
            <h1>Phiếu chuyển hàng #@Model.order_id</h1>
            <table class="table table-bordered">
                <thead>
                    <tr>
                        <td colspan="2">Chi tiết đơn hàng</td>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>
                            <address>
                                <strong>@Model.store_name</strong><br />
                                @Model.store_address
                            </address>
                            <b>Telephone</b> @Model.store_phone<br />
                            <b>E-Mail</b> @Model.store_email<br />
                            <b>Web Site:</b> <a href="@Model.store_website">@Model.store_website</a>
                        </td>
                        <td style="width: 50%;">
                            <b>Ngày tạo</b> @Model.date_added.ToString("dd/MM/yyy")<br />
                            <b>Số hoá đơn.</b> @Model.invoice_prefix<br />
                            <b>Mã đơn hàng:</b> @Model.order_id<br />
                            <b>Phương thức vận chuyển</b> @Model.shipping_method<br />
                        </td>
                    </tr>
                </tbody>
            </table>
            <table class="table table-bordered">
                <thead>
                    <tr>
                        <td style="width: 50%;"><b>Địa chỉ giao hàng</b></td>
                        <td style="width: 50%;"><b>Liên hệ</b></td>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>@Model.customer_full_name<br />@Model.shipping_address1<br />@Model.shipping_city<br />@Model.shipping_city</td>
                        <td>
                            @Model.customer_email<br />
                            SĐT : @Model.customer_telephone
                        </td>
                    </tr>
                </tbody>
            </table>
            <table class="table table-bordered">
                <thead>
                    <tr>
                        <td><b>Địa chỉ</b></td>
                        <td><b>Hàng</b></td>
                        <td><b>Khối lượng</b></td>
                        <td><b>Model</b></td>
                        <td class="text-right"><b>Số lượng</b></td>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var product in Model.Products)
                    {
                        <tr>
                            <td>@product.location</td>
                            <td>
                                @product.name
                            </td>
                            <td>@decimal.Round(product.weight,1) @product.weight_unit</td>
                            <td>@product.model</td>
                            <td class="text-right">@product.quantity</td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</body>
</html>

