@model ShopBackend.Models.Product_Create_Viewmodel

@{
    ViewBag.Title = "Edit";
    Layout = "~/Views/Shared/_Layout.cshtml";
    Dictionary<string, string> enable = ViewData["enable_tab"] as Dictionary<string, string>;
    string in_active(string tab)
    {
        if (tab == ViewBag.enabled_tab)
        {
            return "in active";
        }
        else
        {
            return string.Empty;
        }
    }
}
@section content_header{
    <h1>
        Cập nhật sản phẩm
        <small>Thay đổi thông tin về sản phẩm</small>
    </h1>
    <ol class="breadcrumb">
        <li><a href="/"><i class="fa fa-dashboard"></i> Danh mục</a></li>
        <li class="active">Sản phẩm</li>
    </ol>
}

@section content_main{
    <ul class="nav nav-tabs">
        <li class="active"><a href="#tab_general" data-toggle="tab">Tổng quan</a></li>
        <li><a href="#tab_data" data-toggle="tab">Thông số</a></li>
        <li><a href="#tab_property" data-toggle="tab">Thuộc tính</a></li>
        <li><a href="#tab_image" data-toggle="tab">Hình ảnh</a></li>
    </ul>
    <div class="panel-body">
        <div class="tab-content">

            <div class='tab-pane fade @in_active("tab_general")' id="tab_general">
                @Html.Partial("Edit_GeneralPartial", Model.Oc_product_description)
            </div>
            <div class='tab-pane fade @in_active("tab_data")' id="tab_data">
                @Html.Partial("Edit_DataPartial", Model.Oc_Product)
            </div>
            <div class='tab-pane fade @in_active("tab_property")' id="tab_property">
                @Html.Partial("Edit_PropertyPartial")
            </div>
            <div class='tab-pane fade @in_active("tab_image")' id="tab_image">
                @Html.Partial("Edit_ImagePartial", Model.Images)
            </div>
        </div>
    </div>
    <script>
        var enabled_tab = '@ViewBag.enabled_tab';
        function activaTab(tab) {
            $('.nav-tabs a[href="#' + tab + '"]').tab('show');
        };
        $(document).ready(function () {
            activaTab(enabled_tab);
        })
    </script>
}
