@using ShopBackend.App_Start;
@using ShopBackend.Models;
@using Gobln.Pager;
@model Page<Product_Index_Viewmodel>

@{
    ViewBag.Title = "Danh mục sản phẩm";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section content_header{
    <h1>
        Danh mục sản phẩm
        <small>Chứa tất cả các sản phẩm hiện có của shop</small>
    </h1>
    <ol class="breadcrumb">
        <li><a href="#"><i class="fa fa-dashboard"></i> Danh mục</a></li>
        <li class="active">Sản phẩm</li>
    </ol>
}

@section content_main{
    <form action="~/Product/Delete" method="post">
        <div class="box">
            <div class="box-header with-border">
                <h3 class="box-title">Danh mục sản phẩm</h3>
                <div class="pull-right">
                    <a href="~/Product/Create">
                        <div class="btn btn-success">
                            <i class="fa fa-fw fa-plus"></i>Thêm
                        </div>
                    </a>
                    <button type="submit" class="btn btn-danger"><i class="fa fa-fw fa-remove"></i> Xoá </button>
                </div>
            </div>
            <!-- /.box-header -->
            <div class="box-body">
                <table class="table table-bordered table-hover">
                    <thead class="thead-dark">
                        <tr>
                            <th>
                                <input type="checkbox" id="selectAll" />
                            </th>
                            <th>Ảnh</th>
                            <th>Tên sản phẩm</th>
                            <th>Model</th>
                            <th>Số lượng</th>
                            <th>Trạng thái</th>
                            <th style="width: 20px">Hành động</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (Product_Index_Viewmodel product in Model)
                        {
                            <tr>
                                <td style="width: 10px">
                                    <input type="checkbox" name="checked" value="@product.product_id" />
                                </td>
                                <td>
                                    <img src="@Setting.Value["config_image"]/@product.image" alt="Apple Cinema 30&quot;" class="img-thumbnail" style="width:50px;max-height : 80px">

                                </td>
                                <td>@product.name</td>
                                <td>@product.model</td>
                                <td>
                                    @if (product.quantity < 10)
                                    {
                                        <span class="label label-danger">@product.quantity</span>
                                    }
                                    else
                                    {
                                        <span class="label label-success">@product.quantity</span>
                                    }
                                </td>
                                <td>@product.status</td>
                                <td>
                                    <a href="/Product/Edit/@product.product_id" data-toggle="tooltip" title="" class="btn btn-primary" data-original-title="Edit">
                                        <i class="fa fa-pencil"></i>
                                    </a>
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
            <!-- /.box-body -->
            <div class="box-footer clearfix">
                <ul class="pagination col-ms-9 pull-right">
                    @Html.Partial("~/Views/Components/Pagination.cshtml", new Components_PaginationViewmodel()
                    {
                        href = "Product/?page=",
                        total_page_count = Model.TotalPageCount,
                        current_page_index = Model.CurrentPageIndex,
                        number_of_displaying_pages = 4
                    })
                </ul>
            </div>
        </div>
    </form>
}

@section scripts{
    <script>
        $("#selectAll").click(function () {
            $("input[type=checkbox]").prop('checked', $(this).prop('checked'));
        });
    </script>
}
